:root{
  --primary-color: #ff5;
  --secondary-color: #000;
  --tertiary-color: #934;
  --font-color: #000;
  --font-color-1: #fff;
}

body{
  display: block;
}

header{
  background-color: var(--primary-color);
  margin: auto;
  padding: 30px;
  font-size: 75px;
  text-align: center;
}

nav{
  background-color: var(--secondary-color);
  width: 100%;
  font-size: 20px;
  padding: 30px 0;
  margin: auto;
}

nav a {
  margin: auto;
  padding: 30px;
  background-color: var(--tertiary-color);
}

h1{
  font-size: 50px;
  text-align: center;
}

.gallery{
  display: flex;
  width: 100%;
}

.gallery-card{
  color: var(--font-color-1);
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 10px;
}