:root{
  --primary-color: #ede7db;
  --secondary-color: #d7d8c6;
  --tertiary-color: #91988a;
  --font-color: #0d0d0d;
  --font-color-1: #ede7db;
  --font: ;
}

body{
  display: block;
  background-color: var(--primary-color);

}

a {
  text-decoration: none;
}

header{
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  margin: auto;
  padding: 30px;
  font-size: 75px;
  text-align: center;
}

nav{
  background-color: var(--primary-color);
  width: 100%;
  font-size: 20px;
  padding: 30px 0;
  margin: auto;
}

nav a {
  margin: auto;
  padding: 30px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

nav a:hover {
  color: var(--secondary-color);
}

h1{
  font-size: 50px;
  color: var(--tertiary-color);
  text-align: center;
}

/* #region || gallery */

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gallery-card{
  color: var(--font-color-1);
  text-align: center;
  background-color: var(--tertiary-color);
  margin: 10px;
  padding: 10px;
}

/* #endregion */

/* #region || feedback */

/* Style the cards */

/* Cards Container */
.feedback{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards */
/* Title */
.feedback-card {
  background-color: var(--tertiary-color);
  color: var(--font-color-1);
  margin: 10px;
  padding: 20px;
}
/* Description */

/* Style the Form on the Feedback Page */
.feedback-form {
  margin: auto 20% ;
}

/* Style the caption of each input */
label {
  font: var(--font);
  color: var(--tertiary-color);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  font: var(--font);
  color: var(--secondary-color);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Styling only required for a checkbox */
input[type=checkbox] {
  font: var(--font);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  margin-right: 100%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--secondary-color);
  color: var(--font-color-1);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* #endregion */